<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <apikeys>
    <add key="https://www.nuget.org" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAANN14Xdy/8EeVqIX++9ZxOQAAAAACAAAAAAAQZgAAAAEAACAAAADs3FpDEYVYiOdeDJU/XSuJRL38ffds6QsHGe0lbNtQugAAAAAOgAAAAAIAACAAAAC2is/iw50WCagur0nWxc/mj//5Pt3J4+7Z5BTqYGU0UDAAAADbZNdlMym/uU+x0/81q9QwX1t00gU0GjW1zAIiT17nbI5/3F0y0QJeJoBZ2eUjMMhAAAAAvJGqsLvt+LnYY6Rm3upAU2+lmtk/5XFHJNxMkMeNfVn8zT3xf9aaPRyfHy2tloS/YRefOq0/F8AYFCJ9M07MIQ==" />
    <add key="http://nuget.gw.symbolsource.org/Public/NuGet" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAANN14Xdy/8EeVqIX++9ZxOQAAAAACAAAAAAAQZgAAAAEAACAAAADbd1JCeP86Qp+wEYLb/r4CrcxV1JVyO0i3g3ZtlhF5ggAAAAAOgAAAAAIAACAAAADu/pVANrlEDnIYinpak/EN6SU1FMG2kw+caGHoN9r3RzAAAACK1SdA1+DEk6+CMfbld3LVWb2SjPkOVW+SZVn6lVck9t67DOdM03EIqSUCEMAupHRAAAAANgMCKsyc6kqPqH94InC/Om4EpQtnEPGGKTnIYdhs4yk32sY5TRFX/Xnsk99eN3lnCVj6xaMonCWTm2K9hcYIyg==" />
  </apikeys>
</configuration>